**/.ipynb_checkpoints
**/__pycache__
*.png
!assets/teaser.png
*.zip
*.npy
*.npz
*.dae
data/
data/nerf*
data/static
logs/*
log/*
scripts.sh
data/ScalarReal_2frame/info.json
*.ply
*.lprof
debug/*
my_configs/*
my_nerfacc
.nfs*
test*.txt
*.jpg

*.err
*.out
*.sh
*.so
out*.txt

scripts
mpi_output
*.obj

ckpt
tune*